<h1 class="text-primary text-center my-4">Proyecto Angular - Prueba Técnica</h1>

<div class="container">
  @if (isLoggedIn) {
    <div class="card p-4 mb-5 shadow-sm bg-light border-success">
      <h4 class="text-success"><i class="bi bi-plus-circle"></i> Agregar Nuevo Producto</h4>
      <div class="row g-3">
        <div class="col-md-4">
          <input type="text" [(ngModel)]="nuevoProducto.nombre" class="form-control" placeholder="Nombre del producto" />
        </div>
        <div class="col-md-3">
          <input type="number" [(ngModel)]="nuevoProducto.precio" class="form-control" placeholder="Precio" />
        </div>
        <div class="col-md-2">
          <input type="number" [(ngModel)]="nuevoProducto.stock" class="form-control" placeholder="Stock" />
        </div>
        <div class="col-md-3">
          <button (click)="guardar()" class="btn btn-success w-100">Guardar en MySQL</button>
        </div>
      </div>
    </div>
  }

  <h2 class="mb-4">Nuestro Catálogo</h2>

<div class="row g-4">
  @if (isLoading) {
    <div class="col-12 text-center">
      <div class="spinner-border text-primary" role="status"></div>
      <p>Conectando con el servidor...</p>
    </div>
  } 
  @else {
    @for (product of productosReales; track product.id) {
      <div class="col-12 col-md-6 col-lg-4">
        <app-product-card 
          [product]="product" 
          (addToCart)="handleAddToCart($event)">
        </app-product-card>
      </div>
    } @empty {
      <div class="col-12 text-center">
        <p class="text-muted">No se encontraron productos disponibles en la base de datos.</p>
      </div>
    }
  }
</div>